OPENAI_API_KEY=
TAVILY_API_KEY=
RAG_API_URL=https://document-qna-rag.onrender.com
RAG_NAMESPACE=salesforcefinancial.pdf
LANGSMITH_API_KEY=
LANGSMITH_TRACING=false
LANGSMITH_PROJECT=autonomous-research-agent